!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}/
    %title ChatSpace
    %link{:rel => "stylesheet", :href => "style.scss"}

  %body
    #header
      %div{class: "contents"}
        %div{class: "left_content"}
          %h1 TECH::CAMP
          %ul
            %li<> Members: 
            %li<> UserName1
            %li<> UserName2
            %li<> UserName3
        %div{class: "right_content"}
          %p EDIT

    #content
      %div{class: "contents"}
        %div{id: "sidebar"}

        %div{class: "right_content"}

        %div{class: "left_content"}


    #footer


