.chat-main
  .chat-header.clearfix
    .chat-header--left
      %h2= @group.name
      %p.chat-header__users
        Members:
        %span.chat-header__user チャットメンバー１
        %span.chat-header__user ２
        %span.chat-header__user ３
    .chat-header--right
      %a.chat-header__edit-btn{:href => '/'} Edit
  .chat-body
    %ul.chat-messages
      %li.chat-message
        .chat-message__header.clearfix
          %p.chat-message__name
            チャットユーザー
          %p.chat-message__time
            20xx/xx/xx
          %p.chat-message__body
            メッセージ
      %li.chat-message
        .chat-message__header.clearfix
          %p.chat-message__name
            チャットユーザー
          %p.chat-message__time
            20xx/xx/xx
          %p.chat-message__body
            メッセージ
      %li.chat-message
        .chat-message__header.clearfix
          %p.chat-message__name
            チャットユーザー
          %p.chat-message__time
            20xx/xx/xx
          %p.chat-message__body
            メッセージ
